ingest/gps_transport_flow_importable.json
{"flowContents":{"identifier":"75036830-1c96-3109-b159-7f69658b8015","instanceIdentifier":"6dcabec5-019c-1000-2a24-f153b13bdb00","name":"gps_transport_flow_importable","comments":"Flujo GPS Sentinel360 Fase I (esquema completo): GetFile → UpdateAttribute → PutHDFS + SplitText → EvaluateJsonPath → RouteOnAttribute → PublishKafka raw/filtered.","position":{"x":-80.0,"y":-696.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"gps-0002-4000-8000-000000000002","instanceIdentifier":"efa344f0-e506-3061-94fb-d1d141019365","name":"GetFile GPS Logs","comments":"Lee ficheros JSON/CSV desde directorio local.","position":{"x":80.0,"y":128.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"5 sec","Input Directory":"/home/hadoop/data/gps_logs","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":".*\\.(jsonl?|csv)","Path Filter":null},"propertyDescriptors":{},"style":{},"schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"75036830-1c96-3109-b159-7f69658b8015"},{"identifier":"gps-update-attr-4000-8000-000001","instanceIdentifier":"a1b2c3d4-e5f6-4001-8000-000000000001","name":"UpdateAttribute","comments":"Marca origen: source.type=gps.","position":{"x":280.0,"y":128.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.7.2"},"properties":{"source.type":"gps"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"75036830-1c96-3109-b159-7f69658b8015"},{"identifier":"gps-split-4000-8000-000002","instanceIdentifier":"a1b2c3d4-e5f6-4002-8000-000000000002","name":"SplitText","comments":"Parte JSONL en líneas (1 por flow file) para EvaluateJsonPath.","position":{"x":480.0,"y":128.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"Line Split Count":"1","Header Line Count":"0","Maximum Fragment Size":null,"Remove Trailing Newlines":"true"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"75036830-1c96-3109-b159-7f69658b8015"},{"identifier":"gps-eval-json-4000-8000-000003","instanceIdentifier":"a1b2c3d4-e5f6-4003-8000-000000000003","name":"EvaluateJsonPath","comments":"Extrae vehicle_id, speed, etc. a atributos para RouteOnAttribute.","position":{"x":680.0,"y":128.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"Destination":"flowfile-attribute","Return Type":"auto-detect","Path NotFound":"warn","Null Value Representation":"empty string","vehicle_id":"$.vehicle_id","speed":"$.speed","warehouse_id":"$.warehouse_id"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"75036830-1c96-3109-b159-7f69658b8015"},{"identifier":"gps-route-4000-8000-000004","instanceIdentifier":"a1b2c3d4-e5f6-4004-8000-000000000004","name":"RouteOnAttribute","comments":"Filtro: speed < 120 → matched (filtered-data), resto → unmatched (raw-data).","position":{"x":880.0,"y":128.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"Routing Strategy":"Route to Property name","filtered":"${speed:lt(120)}"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"75036830-1c96-3109-b159-7f69658b8015"},{"identifier":"gps-put-hdfs-4000-8000-000002","instanceIdentifier":"a1b2c3d4-e5f6-4000-8000-000000000002","name":"PutHDFS","comments":"Copia raw en HDFS.","position":{"x":480.0,"y":320.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"2.7.2"},"properties":{"Hadoop Configuration Resources":"/usr/local/hadoop/etc/hadoop/core-site.xml","Directory":"/user/hadoop/proyecto/raw","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"75036830-1c96-3109-b159-7f69658b8015"},{"identifier":"c8b54c9f-b31f-309d-a0f9-81cc1d69c71c","instanceIdentifier":"6dea70c9-019c-1000-cdda-341328cda869","name":"PublishKafka filtered-data","comments":"Solo eventos filtrados (ej. speed < 120).","position":{"x":1080.0,"y":48.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.7.2"},"properties":{"Topic Name":"filtered-data","Kafka Connection Service":"7a5094aa-ed40-3994-9f1c-3d309134a34b","Publish Strategy":"USE_VALUE"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"75036830-1c96-3109-b159-7f69658b8015"},{"identifier":"gps-kafka-raw-4000-8000-000001","instanceIdentifier":"a1b2c3d4-e5f6-4000-8000-000000000001","name":"PublishKafka raw-data","comments":"Todos los eventos (matched + unmatched).","position":{"x":1080.0,"y":208.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.7.2"},"properties":{"Topic Name":"raw-data","Kafka Connection Service":"7a5094aa-ed40-3994-9f1c-3d309134a34b","Publish Strategy":"USE_VALUE"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"75036830-1c96-3109-b159-7f69658b8015"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"conn-getfile-update","instanceIdentifier":"c1-001","name":"","source":{"id":"gps-0002-4000-8000-000000000002","type":"PROCESSOR","groupId":"75036830-1c96-3109-b159-7f69658b8015","name":"GetFile GPS Logs","comments":"","instanceIdentifier":"efa344f0-e506-3061-94fb-d1d141019365"},"destination":{"id":"gps-update-attr-4000-8000-000001","type":"PROCESSOR","groupId":"75036830-1c96-3109-b159-7f69658b8015","name":"UpdateAttribute","comments":"","instanceIdentifier":"a1b2c3d4-e5f6-4001-8000-000000000001"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"75036830-1c96-3109-b159-7f69658b8015"},{"identifier":"conn-getfile-puthdfs","instanceIdentifier":"c1-002","name":"","source":{"id":"gps-0002-4000-8000-000000000002","type":"PROCESSOR","groupId":"75036830-1c96-3109-b159-7f69658b8015","name":"GetFile GPS Logs","comments":"","instanceIdentifier":"efa344f0-e506-3061-94fb-d1d141019365"},"destination":{"id":"gps-put-hdfs-4000-8000-000002","type":"PROCESSOR","groupId":"75036830-1c96-3109-b159-7f69658b8015","name":"PutHDFS","comments":"","instanceIdentifier":"a1b2c3d4-e5f6-4000-8000-000000000002"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"75036830-1c96-3109-b159-7f69658b8015"},{"identifier":"conn-update-split","instanceIdentifier":"c1-003","name":"","source":{"id":"gps-update-attr-4000-8000-000001","type":"PROCESSOR","groupId":"75036830-1c96-3109-b159-7f69658b8015","name":"UpdateAttribute","comments":"","instanceIdentifier":"a1b2c3d4-e5f6-4001-8000-000000000001"},"destination":{"id":"gps-split-4000-8000-000002","type":"PROCESSOR","groupId":"75036830-1c96-3109-b159-7f69658b8015","name":"SplitText","comments":"","instanceIdentifier":"a1b2c3d4-e5f6-4002-8000-000000000002"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"75036830-1c96-3109-b159-7f69658b8015"},{"identifier":"conn-split-eval","instanceIdentifier":"c1-004","name":"","source":{"id":"gps-split-4000-8000-000002","type":"PROCESSOR","groupId":"75036830-1c96-3109-b159-7f69658b8015","name":"SplitText","comments":"","instanceIdentifier":"a1b2c3d4-e5f6-4002-8000-000000000002"},"destination":{"id":"gps-eval-json-4000-8000-000003","type":"PROCESSOR","groupId":"75036830-1c96-3109-b159-7f69658b8015","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"a1b2c3d4-e5f6-4003-8000-000000000003"},"labelIndex":0,"zIndex":2,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"75036830-1c96-3109-b159-7f69658b8015"},{"identifier":"conn-eval-route","instanceIdentifier":"c1-005","name":"","source":{"id":"gps-eval-json-4000-8000-000003","type":"PROCESSOR","groupId":"75036830-1c96-3109-b159-7f69658b8015","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"a1b2c3d4-e5f6-4003-8000-000000000003"},"destination":{"id":"gps-route-4000-8000-000004","type":"PROCESSOR","groupId":"75036830-1c96-3109-b159-7f69658b8015","name":"RouteOnAttribute","comments":"","instanceIdentifier":"a1b2c3d4-e5f6-4004-8000-000000000004"},"labelIndex":0,"zIndex":2,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"75036830-1c96-3109-b159-7f69658b8015"},{"identifier":"conn-route-filtered","instanceIdentifier":"c1-006","name":"","source":{"id":"gps-route-4000-8000-000004","type":"PROCESSOR","groupId":"75036830-1c96-3109-b159-7f69658b8015","name":"RouteOnAttribute","comments":"","instanceIdentifier":"a1b2c3d4-e5f6-4004-8000-000000000004"},"destination":{"id":"c8b54c9f-b31f-309d-a0f9-81cc1d69c71c","type":"PROCESSOR","groupId":"75036830-1c96-3109-b159-7f69658b8015","name":"PublishKafka filtered-data","comments":"","instanceIdentifier":"6dea70c9-019c-1000-cdda-341328cda869"},"labelIndex":0,"zIndex":2,"selectedRelationships":["filtered"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"75036830-1c96-3109-b159-7f69658b8015"},{"identifier":"conn-route-raw-matched","instanceIdentifier":"c1-007","name":"","source":{"id":"gps-route-4000-8000-000004","type":"PROCESSOR","groupId":"75036830-1c96-3109-b159-7f69658b8015","name":"RouteOnAttribute","comments":"","instanceIdentifier":"a1b2c3d4-e5f6-4004-8000-000000000004"},"destination":{"id":"gps-kafka-raw-4000-8000-000001","type":"PROCESSOR","groupId":"75036830-1c96-3109-b159-7f69658b8015","name":"PublishKafka raw-data","comments":"","instanceIdentifier":"a1b2c3d4-e5f6-4000-8000-000000000001"},"labelIndex":0,"zIndex":2,"selectedRelationships":["filtered"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"75036830-1c96-3109-b159-7f69658b8015"},{"identifier":"conn-eval-raw-unmatched","instanceIdentifier":"c1-008b","name":"","source":{"id":"gps-eval-json-4000-8000-000003","type":"PROCESSOR","groupId":"75036830-1c96-3109-b159-7f69658b8015","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"a1b2c3d4-e5f6-4003-8000-000000000003"},"destination":{"id":"gps-kafka-raw-4000-8000-000001","type":"PROCESSOR","groupId":"75036830-1c96-3109-b159-7f69658b8015","name":"PublishKafka raw-data","comments":"","instanceIdentifier":"a1b2c3d4-e5f6-4000-8000-000000000001"},"labelIndex":0,"zIndex":2,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"75036830-1c96-3109-b159-7f69658b8015"},{"identifier":"conn-route-raw-unmatched","instanceIdentifier":"c1-008","name":"","source":{"id":"gps-route-4000-8000-000004","type":"PROCESSOR","groupId":"75036830-1c96-3109-b159-7f69658b8015","name":"RouteOnAttribute","comments":"","instanceIdentifier":"a1b2c3d4-e5f6-4004-8000-000000000004"},"destination":{"id":"gps-kafka-raw-4000-8000-000001","type":"PROCESSOR","groupId":"75036830-1c96-3109-b159-7f69658b8015","name":"PublishKafka raw-data","comments":"","instanceIdentifier":"a1b2c3d4-e5f6-4000-8000-000000000001"},"labelIndex":0,"zIndex":2,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"75036830-1c96-3109-b159-7f69658b8015"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"7a5094aa-ed40-3994-9f1c-3d309134a34b","instanceIdentifier":"6df1141b-019c-1000-073e-9b002d97dfa2","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.7.2"},"properties":{"bootstrap.servers":"192.168.99.10:9092"},"propertyDescriptors":{},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"75036830-1c96-3109-b159-7f69658b8015"}],"parameterContextName":"GPS Flow Params","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"GPS Flow Params":{"name":"GPS Flow Params","parameters":[{"name":"kafka_brokers","description":"","sensitive":false,"provided":false,"value":"192.168.99.10:9092"}],"inheritedParameterContexts":[],"description":"","componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}
