ingest/http_weather_flow_importable.json
{"flowContents":{"identifier":"a1b2c3d4-e5f6-3109-b259-7f69658b8020","instanceIdentifier":"fcaa862b-94e2-4918-9210-7046b075002a","name":"http_weather_flow_importable","comments":"Fase I: API p\u00fablica OpenWeather \u2192 Kafka raw-data. A\u00f1adir PutHDFS para copia en HDFS.","position":{"x":-80.0,"y":-696.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"b2c3d4e5-0001-4000-8000-000000000001","instanceIdentifier":"910e2cb7-f2d7-492b-8bcc-112826f973e8","name":"GenerateFlowFile","comments":"Cada 5 min dispara una petici\u00f3n a la API.","position":{"x":136.0,"y":128.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"File Size":"0 B","Batch Size":"1","Data Format":"Text","Unique FlowFiles":"true","Custom Text":"","Text":""},"propertyDescriptors":{},"style":{},"schedulingPeriod":"5 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a1b2c3d4-e5f6-3109-b259-7f69658b8020"},{"identifier":"b2c3d4e5-0002-4000-8000-000000000002","instanceIdentifier":"134bbce2-8521-4ab6-9bb8-10d5ef8514cb","name":"InvokeHTTP","comments":"GET OpenWeather API. Configurar URL con ${openweather_api_key} en Parameter Context.","position":{"x":136.0,"y":320.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.7.2"},"properties":{"HTTP Method":"GET","URL":"https://api.openweathermap.org/data/2.5/weather?lat=40.42&lon=-3.70&appid=${openweather_api_key}&units=metric","Content-type":"","Send Body":"false","Attributes to Send":"","Use Chunked Encoding":"false","Connection Timeout":"5 secs","Read Timeout":"15 secs","Follow Redirects":"true","Proxy Host":"","Proxy Port":"","Proxy Username":"","Proxy Password":"","Put Response Body In Attribute":"","Put Response Body In Attribute (if status 2xx)":"","Penalize on No Retry":"false","Response Max Size":"0 B"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","no retry","retry","client error","server error"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a1b2c3d4-e5f6-3109-b259-7f69658b8020"},{"identifier":"b2c3d4e5-0003-4000-8000-000000000003","instanceIdentifier":"b447f2ee-8f03-4750-ba64-d3561b059ef4","name":"PublishKafka raw-data","comments":"Publica respuesta API en tema Datos Crudos.","position":{"x":136.0,"y":496.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.7.2"},"properties":{"compression.type":"none","acks":"all","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":null,"Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"raw-data","Kafka Key":null,"partition":null,"Kafka Connection Service":"7a5094aa-ed40-3994-9f1c-3d309134a34b","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"false","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a1b2c3d4-e5f6-3109-b259-7f69658b8020"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"6a22e3e6-dcf4-4663-a138-8f2fc17138ad","instanceIdentifier":"5a770f5b-a329-4550-9739-12cfd2c1ab22","name":"","source":{"id":"b2c3d4e5-0001-4000-8000-000000000001","type":"PROCESSOR","groupId":"a1b2c3d4-e5f6-3109-b259-7f69658b8020","name":"GenerateFlowFile","comments":"","instanceIdentifier":"910e2cb7-f2d7-492b-8bcc-112826f973e8"},"destination":{"id":"b2c3d4e5-0002-4000-8000-000000000002","type":"PROCESSOR","groupId":"a1b2c3d4-e5f6-3109-b259-7f69658b8020","name":"InvokeHTTP","comments":"","instanceIdentifier":"134bbce2-8521-4ab6-9bb8-10d5ef8514cb"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a1b2c3d4-e5f6-3109-b259-7f69658b8020"},{"identifier":"1b947973-9134-4431-9d8e-bc1feff0bd55","instanceIdentifier":"03c10400-f816-49b4-a243-be1c1708d956","name":"","source":{"id":"b2c3d4e5-0002-4000-8000-000000000002","type":"PROCESSOR","groupId":"a1b2c3d4-e5f6-3109-b259-7f69658b8020","name":"InvokeHTTP","comments":"","instanceIdentifier":"134bbce2-8521-4ab6-9bb8-10d5ef8514cb"},"destination":{"id":"b2c3d4e5-0003-4000-8000-000000000003","type":"PROCESSOR","groupId":"a1b2c3d4-e5f6-3109-b259-7f69658b8020","name":"PublishKafka raw-data","comments":"","instanceIdentifier":"b447f2ee-8f03-4750-ba64-d3561b059ef4"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a1b2c3d4-e5f6-3109-b259-7f69658b8020"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"7a5094aa-ed40-3994-9f1c-3d309134a34b","instanceIdentifier":"042d643e-671c-4e1a-935c-886e252349bd","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.7.2"},"properties":{"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","bootstrap.servers":"192.168.99.10:9092","sasl.kerberos.service.name":null,"security.protocol":"PLAINTEXT","SSL Context Service":null,"sasl.mechanism":"GSSAPI","isolation.level":"read_committed","oauth2-access-token-provider-service":null,"max.block.ms":"5 sec","kerberos-user-service":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider-service":{"name":"oauth2-access-token-provider-service","displayName":"OAuth2 Access Token Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.7.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a1b2c3d4-e5f6-3109-b259-7f69658b8020"}],"parameterContextName":"HTTP Weather Params","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"HTTP Weather Params":{"name":"HTTP Weather Params","parameters":[{"name":"openweather_api_key","description":"API key de OpenWeather (openweathermap.org)","sensitive":true,"provided":false,"value":""},{"name":"kafka_brokers","description":"","sensitive":false,"provided":false,"value":"192.168.99.10:9092"}],"inheritedParameterContexts":[],"description":"","componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}